<h1>Details</h1>

<p>
  <strong>Category</strong>
  <%= @animal.category %>
</p>
<p>
  <strong>Description</strong>
  <%= @animal.description %>
</p>
<p>
  <strong>Address</strong>
  <%= @animal.address %>
</p>
<p>
  <strong>Found At</strong>
  <%= @animal.found_at %>
</p>

<p>
  <%= link_to 'Go Back', root_path, class: 'btn btn-primary' %>
</p>
